
Builds/VisualStudio2019/x64/Debug/VST3/vc142.pdb
Builds/VisualStudio2019/x64/Debug/VST3/resources.res
Builds/VisualStudio2019/x64/Debug/VST3/New Chorus Flanger_VST3.log
Builds/VisualStudio2019/x64/Debug/VST3/New Chorus Flanger.vst3
Builds/VisualStudio2019/x64/Debug/VST3/New Chorus Flanger.pdb
Builds/VisualStudio2019/x64/Debug/VST3/New Chorus Flanger.lib
Builds/VisualStudio2019/x64/Debug/VST3/New Chorus Flanger.ilk
Builds/VisualStudio2019/x64/Debug/VST3/New Chorus Flanger.exp
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/New Chorus Flanger_VST3.write.1u.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/New Chorus Flanger_VST3.lastbuildstate
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/New Chor.9686863C.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/vc142.pdb
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/resources.res
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chorus Flanger_StandalonePlugin.log
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chorus Flanger.pdb
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chorus Flanger.ilk
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chorus Flanger.exe
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/rc.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/rc.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/rc.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/New Chorus Flanger_StandalonePlugin.lastbuildstate
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/link.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/CL.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/New Chor.80BE9B2F.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/PluginProcessor.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/PluginEditor.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chorus Flanger_SharedCode.pdb
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chorus Flanger_SharedCode.log
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chorus Flanger.lib
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chor.C3C45128.tlog/New Chorus Flanger_SharedCode.lastbuildstate
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chor.C3C45128.tlog/Lib.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chor.C3C45128.tlog/Lib-link.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chor.C3C45128.tlog/Lib-link.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chor.C3C45128.tlog/CL.read.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chor.C3C45128.tlog/CL.command.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chor.C3C45128.tlog/CL.11356.write.1.tlog
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPVUMeter.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPTopPanel.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPPresetManager.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPParameterSlider.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPParameterComboBox.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPPanelBase.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPMainPanel.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPLFO.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPGainPanel.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPGain.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPEffectsPanel.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPDelay.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPCenterPanelMenuBar.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/KAPCenterPanel.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_opengl.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_extra.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_basics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_graphics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_events.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_data_structures.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_cryptography.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_core.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_utils.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_processors.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_formats.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_devices.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_basics.obj
Builds/VisualStudio2019/x64/Debug/Shared Code/BinaryData.obj
Builds/VisualStudio2019/resources.rc
Builds/VisualStudio2019/New Chorus Flanger_VST3.vcxproj.filters
Builds/VisualStudio2019/New Chorus Flanger_VST3.vcxproj
Builds/VisualStudio2019/New Chorus Flanger_StandalonePlugin.vcxproj.user
Builds/VisualStudio2019/New Chorus Flanger_StandalonePlugin.vcxproj.filters
Builds/VisualStudio2019/New Chorus Flanger_StandalonePlugin.vcxproj
Builds/VisualStudio2019/New Chorus Flanger_SharedCode.vcxproj.filters
Builds/VisualStudio2019/New Chorus Flanger_SharedCode.vcxproj
Builds/VisualStudio2019/New Chorus Flanger.sln
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/Solution.VC.db-wal
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/Solution.VC.db-shm
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/Solution.VC.db
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/Browse.VC.opendb
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/Browse.VC.db
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/.suo
Builds/MacOSX/RecentFilesMenuTemplate.nib
Builds/MacOSX/New Chorus Flanger.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Builds/MacOSX/New Chorus Flanger.xcodeproj/project.pbxproj
Builds/MacOSX/New Chorus Flanger.entitlements
Builds/MacOSX/Info-VST3.plist
Builds/MacOSX/Info-Standalone_Plugin.plist
Builds/MacOSX/Info-AU.plist
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/31b257a22ea0f701/KAPPARAMETERCOMBOBOX.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/48730cb3b14a9e4c/KAPCENTERPANEL.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/4c2410c8989ecd6c/KAPMAINPANEL.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/581721d1d2521682/KAPPANELBASE.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/73b1990e2f0a5045/KAPPARAMETERSLIDER.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/af57c30555d4d34e/KAPCENTERPANELMENUBAR.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/afc08e8adfed6635/INCLUDE_JUCE_GRAPHICS.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/b60ef9b167c168db/KAPEFFECTSPANEL.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/e6cb8503d98684c3/PLUGINEDITOR.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/fc4a0e79c77085c5/INCLUDE_JUCE_GUI_BASICS.ipch
Builds/VisualStudio2019/x64/Debug/Shared Code/New Chor.C3C45128.tlog/CL.write.1.tlog
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/6c7c55fb345d4e93/PLUGINEDITOR.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/b900c8142ba7d3ab/KAPEFFECTSPANEL.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/c4d35acb34ae97f2/KAPPANELBASE.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/d54808ebb519c4b5/INCLUDE_JUCE_GUI_BASICS.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/fb44bd8e8ff3c011/KAPVUMETER.ipch
Builds/VisualStudio2019/Image.png
Builds/VisualStudio2019/New Chorus Flanger_SharedCode.aps
Builds/VisualStudio2019/New Chorus Flanger_SharedCode.rc
Builds/VisualStudio2019/New Chorus Flanger_SharedCode.vcxproj.user
Builds/VisualStudio2019/resource.h
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/123c2eb58977261c/KAPCENTERPANEL.ipch
Builds/VisualStudio2019/.vs/New Chorus Flanger/v16/ipch/AutoPCH/3ab5331ac0dd2cc4/KAPTOPPANEL.ipch
